$navbarColor: #456382;
$backgroundColor: #F6F4F4;
$primaryCardColor: #647CA9;
$primaryTextColor: #2F3043;

// Button Overrides
$btnPrimaryColor: #466682;
$btnSuccessColor: #4a995f;
$btnWarningColor: #c88927;
$btnDangerColor: #f44336;