<nav class="navbar navbar-expand-lg">
  <%= link_to 'Putting Contest Tracker', root_path, class: 'navbar-brand' %>
  <div class="navbar-nav">
    <%= link_to 'Contests', contests_path, class: "nav-item nav-link" %>
    <%= link_to 'Add a Putter', new_putter_path, class: "nav-item nav-link" %>
  </div>
</nav>